.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  height: 100vh;
  background: url(/assets/destination/background-destination-desktop.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: auto;
}

.image_wrapper {
  display: grid;
  gap: 2em;
  font-family: var(--barlow-condensed);
  margin-top: 3em;
}

.image_wrapper > h2 {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 6px;
}

.count {
  color: darkgray;
  font-weight: bold;
}

.destination_image {
  width: 300px;
  margin-left: 1em;
}

.details {
  flex: 1;
  margin-block-start: 6em;
  font-family: var(--barlow-condensed);
}

.btn_container {
  display: flex;
  gap: 1em;
}

.btn_container > a {
  appearance: none;
  border: none;
  background-color: transparent;
  color: hsl(var(--clr-white));
  padding: 0.5em 0;
  border: 1px solid transparent;
  text-transform: uppercase;
  font-weight: 100;
  cursor: pointer;
  transition: border-color 0.5s ease;
}

.btn_container > a:hover, 
.btn_container > a:active {
  border-bottom: 1px solid hsl(var(--clr-white));
}

.planet_name {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 3.5rem;
  font-family: var(--bellefair);
  margin-top: 3px;
}

.desc {
  width: 400px;
  height: 120px;
  font-weight: 100;
}

.line {
  border: 0.5px solid rgba(128, 128, 128, 0.219);
}

.dist_time {
  display: flex;
  gap: 5em;
  margin-top: 1em;
}

.dist, .time {
  font-family: var(--bellefair);
  font-size: 1.4rem;
  text-transform: uppercase;
}

@media (min-width: 355px) and (max-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(/assets/destination/background-destination-mobile.jpg) no-repeat center/cover;
  }

  .image_wrapper {
    padding-top: 2em;
    place-items: center;
  }

  .image_wrapper > h2 {
    display: flex;
    justify-content: center;
  }

  .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
  }

  .destination_image {
    width: 200px;
    margin: 0;
  }

  .desc {
    width: 350px;
    height: fit-content;
    text-align: center;
    font-weight: 100;
  }
}

@media (min-width: 400px) and (max-width: 888px) {
  .wrapper {
    background: url(/assets/destination/background-destination-tablet.jpg) 
    no-repeat center/cover;
  }
}